$brand_primary_800: #0656fe;
$brand_primary_500: #0c73fe;
$brand_primary_300: #6ebaff;
$brand_primary_200: #a3d3ff;
$brand_primary_50: #daeaff;
$brand_primary_25: #e8f4ff;
$ink_800: #0c131d;
$color-white: #fff;

$fz: 15px;
$font: 'Stapel', sans-serif;
