@font-face {
  font-family: 'NewYork';
  src: url('../assets/fonts/NewYork.woff2') format('woff2'),
      url('../assets/fonts/NewYork.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('../assets/fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
      url('../assets/fonts/CabinetGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('../assets/fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
      url('../assets/fonts/CabinetGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CabinetGrotesk';
  src: url('../assets/fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
      url('../assets/fonts/CabinetGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
