:root {
  --c-text: #343339;
  --c-bg: #ededed;
  --c-white: #ffffff;
  --c-border: #cecece;
  --fz: 16px;
  --lh: 1.2;
  --f-base: 'NewYork', sans-serif;
  --f-text: 'CabinetGrotesk', sans-serif;

  --trns: all 0.3s ease-in-out;

  --cntnr-width: 1600px;
  --cntnr-padding: 15px;
  --section-margin: 120px;
}
