@font-face {
  font-family: 'NewYork';
  src: url('../assets/fonts/NewYork.woff2') format('woff2'),
      url('../assets/fonts/NewYork.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

